<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Payment:etc/payment.xsd">

    <default>
        <payment>
            <reservepay_payment>
                <active>0</active>
                <title>Reservepay Payment Service</title>
                <model>Reservepay\Payment\Model\PaymentMethod</model>
                <order_status>pending_payment</order_status>
            </reservepay_payment>
        </payment>
    </default>

</config>